button.customButton {
    color: black;
    border-color: #9CBF9A;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.customButton:hover,
button.customButton:active {
    color: black !important;
    border-color: #BFD6BE !important;
    background-color: #BFD6BE !important;
}

